@font-face {
  font-family: "Magnum";
  src: url("../assets/fonts/Magnum-Sans-Regular.woff2") format("woff2"), url("../assets/fonts/Magnum-Sans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}