.hero {
  padding-bottom: 10vw;
}

.hero-bottom {
  display: inline;
  line-height: 0;
  margin-bottom: -1px;

  svg {
    width: 100%;
    height: 6vw;
    fill: #ffffff;
  }

  @media (max-width: 575.98px) {
    display: none;
  }
}

.banner {
  border-radius: 0px 5rem 0px 5rem;
  padding: 5rem;

  .banner-text {
    width: 50%;
  }

  @media (max-width: 575.98px) {
    border-radius: 0px 2rem 0px 2rem;
    padding: 3rem;
  }

  @media (max-width: 991.98px) {
    .banner-text {
      width: 100%;
    }
  }
}